body{
	background: #475160;
	margin: 0;
}
/*menu*/
#nav{
	height:40%;
	width: :98%;
	padding: 20PX 2%;
	
}
#mobile{
	width: 50px;
	height:20px;
	margin-top: -40px;
	float: right;
	
	
}
#mobile span{
	display: block;
	cursor:pointer;
	margin:6px 0;
	border-radius: 5px;
	height: 7px;
	width: 100%;
	background: white;
	background: #E029C2  ;

	
	
}
/*banner*/
#banner{
	background:#48D7B7 ;
	padding: 20px 0;

}
#banner h1{
	font-family: Open Sans;
	margin: 0;
	margin-bottom: 6px;
    text-align: center;
    font-size: 21px;
}
#banner p{
	font-family: Open Sans;
	margin: 0;
	font-size: 16px;
	text-align: center;
	color: white;


}

#banner img{
	display:block;
	margin: 0 auto; 
	


}